{% extends "base.html" %}


{% block body %}
  {% include "home_icon.html" %}
  <div class="centered-block-auto-margin">
  <div class="entries">
    {% for entry in entries %}
      <article class="entry">
        <span class="dutch">{{ entry[0] }}: </span>
        <span class="english">
          {% for i in entry[1]  %}
            {{ i }} 
            {% if not loop.last %}
              /
            {% endif %}
          {% endfor %}
        </span>
      </article>
    {% endfor %}
  </div>
  </div>
{% endblock body %}
